header {
    padding: 10px 30px;
}

.company-name {
    position: absolute; top: 0px; right: 0px;
}

.header-container {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 50px;
    text-align: left;
}

nav ul {
    list-style-type: none;
    padding: 0;
    justify-content: center;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 46%;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: underline;    
}